.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 400%;
    padding-right: 50px;
}

.toggle-password {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.toggle-password:hover {
    text-decoration: underline;
}