.password-container {
    position: relative;
    align-items: center;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-5%);
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.toggle-password:hover {
    text-decoration: underline;
}

.form-container {
    max-width: 500px;
    margin-left: 0;
}

.form-container form {
    padding-top: 10px;
}

.formheader h1 {
    margin-bottom: 0;
}