@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    background-color: white;

}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    height: 100%;
}

/* Content */
.content {
    flex: 1;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    /* height: 100vh; */
    overflow-y: scroll;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.header h1 {
    color: #000;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/* Form Header */
.formheader {
    display: flex;
    align-items: center;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.formheader h1 {
    color: #000;
    font-family: "Poppins";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/* Table Container */
.table-container {
    flex-grow: 1;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto; /* Scroll if table overflow */
}

/* Table */
/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}


.table th {
    background: #f0f0f0;
    text-align: center;
}

/* Buttons */
.button-blue {
    padding: 10px 15px;
    background: #1075BA;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-blue:hover {
    background: #0c5a90;
}

.button-white {
    padding: 7px 12px;
    background: white;
    color: #1075BA;
    border-radius: 15px;
    text-decoration: none;
    border: 3px solid #1075BA;
    cursor: pointer;
}

.button-white:hover {
    background: #f7fcfe;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination button {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.pagination button.active {
    background: #2c2c5e;
    color: white;
}
