.content {
    margin: 2vw;
    width: 70%;
    overflow: auto;
    font-size: 14px;
}

.skheader {
    font-size: 40px;
}

.skfilters {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 28% 20% 15%;
    margin: 1.5vw 0;
    gap: 2%;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75vw;
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
}

.sk-search {
    border: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    width: 100%;
}

.sk-search:focus {
    outline: none;
}

.sk-select {
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0.75vw;
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
}

.draft-content {
    width: auto;
    margin: 1vw 0;
}

.draft-header {
    margin: 1vw 0;
    font-size: 28px;
}

.skbaru {
    display: flex;
    justify-content: flex-end;
    margin: 1vw 0;
}

.button-blue {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.td-judul {
    text-align: left;
}

.edit-button:hover {
    background-color: #f7fcfe;
    color: #1075BA;
    cursor: pointer;
}